<div id="divModelEquipmentAssignment" style="width:400px; height:500px; display:none;">
    <div class="card">
        <div class="card-header">
            Assignment
            <div class="card-body">

                <form method="post" action="@Url.Action("SaveAssignment","Inventory")">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Customer ID</span>
                        <input name="txtCustomerID" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Equipment ID</span>
                        <input name="txtEquipmentID" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                        <input name="txtEquipmentCount" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>