
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login2</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body style="background: #72abab;">
    <div class="container mt-5" id="" style="background: #b0ded6; width: 400px; height: 500px; position: fixed; margin: auto; left: 0px; right: 0px; top: 0px; bottom: 0px; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; ">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Login Form</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form >
                    <div class="input-group mb-3">
                        <span class="input-group-text">Username:</span>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Password:</span>
                        <input type="password" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js "></script>
</body>
</html>
